[package]
name = "salsa"
version = "0.14.0"
authors = ["Salsa developers"]
edition = "2018"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/salsa-rs/salsa"
description = "A generic framework for on-demand, incrementalized computation (experimental)"
readme = "README.md"

[dependencies]
crossbeam = "0.7.1"
derive-new = "0.5.5"
indexmap = "1.0.1"
log = "0.4.5"
parking_lot = "0.9.0"
rustc-hash = "1.0"
smallvec = "0.6.5"
rand = { version = "0.7", features = [ "small_rng" ] }

salsa-macros = { version = "0.14.0", path = "components/salsa-macros" }

[dev-dependencies]
rand_distr = "0.2.1"
diff = "0.1.0"
env_logger = "0.5.13"
linked-hash-map = "0.5.2"

[workspace]
