[package]
name = "salsa"
version = "0.18.0"
authors = ["Salsa developers"]
edition = "2021"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/salsa-rs/salsa"
description = "A generic framework for on-demand, incrementalized computation (experimental)"

[dependencies]
arc-swap = "1"
crossbeam = "0.8"
dashmap = { version = "6", features = ["raw-api"] }
hashlink = "0.9"
indexmap = "2"
append-only-vec = "0.1.5"
tracing = "0.1"
parking_lot = "0.12"
rustc-hash = "2"
salsa-macro-rules = { version = "0.1.0", path = "components/salsa-macro-rules" }
salsa-macros = { path = "components/salsa-macros" }
smallvec = "1"
lazy_static = "1"
rayon = "1.10.0"

[dev-dependencies]
annotate-snippets = "0.11.4"
derive-new = "0.6.0"
codspeed-criterion-compat = { version = "2.6.0", default-features = false }
expect-test = "1.4.0"
eyre = "0.6.8"
notify-debouncer-mini = "0.4.1"
ordered-float = "4.2.1"
rustversion = "1.0"
test-log = { version ="0.2.11", features = ["trace"] }
trybuild = "1.0"

[[bench]]
name = "compare"
harness = false


[[bench]]
name = "incremental"
harness = false

[workspace]
members = ["components/salsa-macro-rules", "components/salsa-macros"]
